process P  = {

    include "FWCore/MessageLogger/data/MessageLogger.cfi"
    
    service = RandomNumberGeneratorService {
        untracked uint32 sourceSeed = __SEED1__
        PSet moduleSeeds = {
            untracked uint32 VtxSmeared =  __SEED2__
            untracked uint32 g4SimHits =  __SEED3__
        }
    }
   
    source = PythiaSource { 
        untracked int32 maxEvents = __EVENTS__
        untracked int32 pythiaPylistVerbosity = 0
        untracked bool pythiaHepMCVerbosity = false
        untracked int32 maxEventsToPrint = -1
        untracked uint32 firstEvent = __FIRSTEVENTNUM__
        untracked uint32 firstRun = __FIRSTRUNNUM__

        PSet PythiaParameters = {

            vstring parameterSets = {
                "pythiaUESettings", 
                "processParameters"
            }

            include "Configuration/Generator/data/PythiaUESettings.cfi"

            vstring processParameters = {
                #  J/Psi
                'MSEL=0               ! user defined subprocess',
                'MSUB(86)   = 1       ! gg->J/Psi g',
                'MSUB(106)  = 1       ! gg->J/Psi gamma',
                #  Chi_c
                'MSUB(87)   = 1       ! gg->Chi0c g',
                'MSUB(88)   = 1       ! gg->Chi1c g',
                'MSUB(89)   = 1       ! gg->Chi2c g',
                # Change ccbar to bbbar
                'KFPR(86,1)  = 553    ! J/psi ->Upsilon',
                'KFPR(106,1) = 553    ! J/psi -> Upsilon',
                'KFPR(87,1)  = 10551  ! Chi0c -> Chi0b',
                'KFPR(88,1)  = 20553  ! Chi1c -> Chi1b',
                'KFPR(89,1)  = 555    ! Chi2c -> Chi2b',
                # Force Upsilon decays to mumu
                'MDME(1034,1) = 0  ! 0.025200 e-   e+',
                'MDME(1035,1) = 1  ! 0.024800 mu-  mu+',
                'MDME(1036,1) = 0  ! 0.026700 tau- tau+',
                'MDME(1037,1) = 0  ! 0.015000 d    dbar',
                'MDME(1038,1) = 0  ! 0.045000 u    ubar',
                'MDME(1039,1) = 0  ! 0.015000 s    sbar',
                'MDME(1040,1) = 0  ! 0.045000 c    cbar',
                'MDME(1041,1) = 0  ! 0.774300 g    g   g',
                'MDME(1042,1) = 0  ! 0.029000 gamma g   g'
            }
        }
    }

    include "IOMC/EventVertexGenerators/data/VtxSmearedGauss.cfi"

    include "SimG4Core/Application/data/SIM-DIGIWithEcalZeroSuppression.cff"

    module GEN-SIM-DIGI = PoolOutputModule {
        untracked string fileName = "__FILENAME__"
        untracked int32 compressionLevel = 2
    }

    path p1 = { VtxSmeared, doG4SimHitsDigiEcalZeroSup}
   
    endpath outpath = { GEN-SIM-DIGI }
}
